a.edit-btn,
a.reply-btn,
a.btn-add,

a.warning,
a.primary,
a.secondary,
.primary,
.secondary,
.danger {
  border: none;
  text-decoration: none;
  border-radius: 4px;
  padding: 7px 14px;
  cursor: pointer;
  font-size: 14px;
  margin-right: 0 !important;
  transition: background-color 0.3s;
}

.danger {
  color: #fff;
  background-color: #d6360e;
}

.danger:hover {
  color: #fff;
  background-color: #aa2e0f;
}

a.warning {
  color: #000;
  background-color: #ffc107;
}

a.warning:hover {
  background-color: #ffca2c;
}

a.primary {
  color: #fff;
  background-color: #0d6efd;
}

a.primary:hover {
  background-color: #0b5ed7;
}

a.secondary,
.secondary {
  color: #fff;
  background-color: #6c757d;
}

a.secondary:hover {
  background-color: #5c636a;
}

a.edit-btn {
  background-color: #0056b3;
  color: #fff;
}

a.edit-btn:hover {
  background-color: #0062ca;
}

a.reply-btn {
  background-color: #28a745;
  color: white;
}

a.reply-btn:hover {
  background-color: #218838;
}

a.btn-add {
  background-color: #007bff;
  color: #fff;
}

a.btn-add:hover {
  background-color: #0056b3;
}

.pointer {
  cursor: pointer;
}

/* BOTÕES DE PAGINAÇÃO */
.dataTables_wrapper .dataTables_info {
  line-height: 39px;
  padding-bottom: 2rem;
}

div.dt-container .dt-paging .dt-paging-button.current {
  background: #f0f0f0 !important;
  transition: .2s ease !important;
}

div.dt-container .dt-paging .dt-paging-button.current:hover {
  background-color: #d2d2d2 !important;
}

.dataTables_wrapper .dataTables_paginate {
  padding-top: 1rem !important;
}

div.dt-container .dt-paging .dt-paging-button {
  background-color: #ececec !important;
  border-radius:5px !important;
  padding: 0.1em .6em !important;
}

div.dt-container .dt-paging .dt-paging-button:hover {
  color: #000 !important;
  background: #d2d2d2 !important;
  border: 1px solid transparent !important;
}
/* BOTÕES DE PAGINAÇÃO END */