/*css do layout App */
.login-page .py-4 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.login-page .appContent {
  margin-left: 10rem;
  transition: margin-left 0.4s;
}

.iconPerson {
  color: #fff;
  font-size: 22px;
}

/* FONT STYLE */

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}


body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.flex-container {
  margin-top: 0.5rem !important;
}

/* FONTE STYLE */

.bottom {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.item-menu {
  position: relative;
}

.navbar {
  background-color: #2272b9;
  height: 42px;
  position: fixed !important;
  width: 100%;
  z-index: 1;
  flex-wrap: nowrap !important;
}

.userTopNav,
.sectorTopNav {
  font-weight: bold;
}

.logoNavImg {
  transition: .1s;
}

.logoNavImg:hover {
  opacity: .6;
}

a.navbar-brand:nth-child(1) {
  margin-left: .9rem;
  margin-right: 0;
  line-height: 0px;
  }

.container-fluid img:hover {
  opacity: .6;
}

.bi-escape {
  text-decoration: none;
}

.appName {
  color: rgb(255, 255, 255) !important;
  transition: .1s;
  font-size: 14px;
  padding-left: 5px;
}

.appName:hover {
  opacity: .6;
}

.userSpan {
  margin-right: 3px;
}

.userName {
  display: ruby;
}

.split {
  margin-left: .5rem;
  margin-right: .5rem;
}

.unitySpan {
  margin-right: 3px;
}

.acessUnity {
  display: flex;
}

.topnav {
  width: 9%;
  transition: .2s;
}

.topnav:hover {
  opacity: .6;
}

/* .active-icon {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5rem;
  border-radius: 5px;
} */

#navbarDropdown {
  color: #fff;
  display: flex;
  font-size: 0.8rem;
  cursor: default;
  /* align-items: baseline;
  white-space: nowrap; */
  flex-direction: column;
  position: absolute;
  left: 50px;
  top: 2px;
}

.nav-item {
  color: #fff;
  margin-right: .5rem;
  white-space: nowrap;
}

.barExit {
  color: #fff;
  cursor: default;
  margin-right: .5rem;
}

.exit {
  color: #fff;
  margin-right: 5px;
  cursor: default;
}

a.btnSair {
  color: #fff;
  text-decoration: none;
}

.nav-item i {
  color: #fff;
}

.nav-item {
  transition: .1s;
}

.nav-item:hover {
  opacity: .6;
}

.appContent {
  margin-left: 10.5rem;
  transition: margin-left 0.4s;
}

.conteudo{
  margin-top: 1rem;
  padding-left: 1px;
}
.mainShow {
  margin-top: 5vh;
}

.mainHomePage {
  margin-top: 5vh;
}

/* INÍCIO CSS SIDENAV */
.sidenavImg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
  cursor: pointer;
}

.sidenavImg img {
  width: 75%;
}

.logo {
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  transition: .4s;
}

#logoMin {
  transition: .4s;
  cursor: pointer;
}

#logoMin:hover {
  opacity: .6;
}

#logoMax {
  width: 100%;
  cursor: pointer;
  transition: .4s;
}

#logoMax:hover {
  opacity: .6;
}

.logoMax {
  width: 100% !important;
}

nav.menu-lateral {
  /* font-family: "Lato", sans-serif; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 170px;
  position: fixed;
  float: left;
  background-color: #22539c;
  overflow: hidden;
  transition: 0.4s;
  margin: 0;
  padding: 1rem;
  height: 100vh;
}

.menu-lateral ul li {
  position: relative;
  list-style-type: none;
  margin: 0.8rem auto;
}

.icon {
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0.5rem;
}

ol, ul {
  height: 100%;
  padding-left: 0rem;
}

ul li.item-menu {
  transition: 0.4s;
}

ul li.item-menu:hover {
  opacity: .5;
}

ul li.item-menu:active {
  opacity: .8;
}

.ulList {
  padding-left: 0;
}

ul li.item-menu a {
  color: #fff;
  text-decoration: none;
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: start;
  line-height: 1.5rem;
}

.txt-link {
  font-size: 1rem;
  white-space: nowrap;
}

ul li.item-menu a .txt-link {
  margin-left: 1rem;
  transition: .8s;
}

nav.menu-lateral.expand .txt-link {
  margin-left: 2rem;
}

ul li.item-menu a .icon i {
  font-size: 1.5rem;
}

ul li.item-menu.btn-sair {
  position: absolute;
  margin-top: 3rem;
  width: 100%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* FIM CSS SIDENAV */