.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  body {
    font-family: "Poppins", sans-serif !important;
    background-color: #fff !important;
  }
  
  .borderRadius {
    background-image: url('/img/login/bg-white.png');
    background-size: cover;
    /* background-position: center; */
  }
  
  /* REMOVE AS CONFIGURAÇÕES DO GLOBAL.CSS */
  .login-page .appContent {
      margin-left: 0 !important;
    }
  
  .appContent {
      margin-left: 0 !important;
    }
  
  .conteudo {
      margin-top: 0 !important;
      padding-left: 0 !important;
    }
  
  .links {
    gap: 2rem;
    z-index: 1;
    display: flex;
    margin-top: 8rem;
    margin-left: 28rem;
    position: absolute;
  }
  
  .links a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
  }
  
  .linksChild {
    padding: 6px;
    border-radius: 5px;
    transition: .2s;
    border: 1px solid #2d4790;
    background-color: #2d4790;
    width: 160px;
    text-align: center;
}
  
  .linksChild:hover {
    background-color: #13285e;
    /* transform: translateY(-7px); */
  }
  
  .grid {
    display: grid;
    /* grid-template-columns: 2.5fr 1fr; */
    height: 100vh;
  }
  
  .order__left {
    order: 2;
    padding:  40px;
    background-color: #fff;
  }
  
  .order__right {
    order: 1;
  }
  
  .centered {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .no__overflow {
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  
  .logo {
    text-align: center;
  }
  
  .logo img {
    height: 100%;
  }
  
  .img {
    height: 60%;
  }

  .button-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 80%;
    flex-wrap: nowrap; 
    margin-left: 10%;
    position: absolute;
    top: 58%; 
    left: 57%; 
    transform: translate(-50%, -50%);
}

.arrowButton {
    color: #fff;
    padding: 6px;
    border-radius: 5px;
    transition: .2s;
    border: 1px solid #2d4790;
    background-color: #2d4790;
    width: 220px;
    white-space: nowrap;
    text-align: center;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    text-decoration: none;
}

.arrowButton i {
    margin-right: 8px;
}

.arrowButton:hover {
    background-color: #13285e;
}
  
@media only screen and (max-width: 1760px) {

}

@media only screen and (max-width:  1600px) {

}

@media only screen and (max-width:  1472px) {

}

@media only screen and (max-width:  1376px) {

}

@media only screen and (max-width: 1280px) {

}

@media only screen and (max-width:  1216px) {
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
        background-image: url('/img/login/background.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: .2s;
    }

    .order__left {
        order: 2;
        background-color: transparent;
    }
}
