table, tr,th, td {
  border: 1px solid #b0b0b0;
}

.appContent {
  margin-left: 10rem;
}

/* ESTILIZAÇÃO DA TABELA INÍCIO */
.main-datatable .cust-datatable > thead > tr > th {
  padding: 9px 8px !important;
  border-right: 0px;
}

.divPrazoGeral {
  padding: 12px;
  display: flex;
  justify-content: space-between;
}

.prazoGeral {
  color: #fff;
  line-height: 35px;
  margin-left: 10px;
  display: inline-flex;
  justify-content: center;
  border-color : #b0b0b0;
  border-radius:  4px;
  background-color: #0056b3;
  padding: 3px;
}



.blue-btn,
.green-btn,
.spanThatLooksLikeABtn {
  border: none;
  text-decoration: none;
  border-radius: 4px;
  padding: 7px 6px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.spanThatLooksLikeABtn {
  color: #fff;
  cursor: default;
  background-color:#8C8A93;
}

.green-btn-store {
  margin-right: 0;
}


.blue-btn {
  background-color: #0056b3;
  color: #fff;
}

.blue-btn:hover {
  background-color: #0062ca;
}

.green-btn {
  background-color: #28a745;
  color: white;
}

.green-btn:hover {
  background-color: #218838;
}

.warningRisks {
  color: #fff;
  padding: 8px;
  padding-top: 4px;
  padding-bottom: 7px;
  padding-left: 10px;
  font-size: 17px;
  font-weight: bold;
  margin-left: 180px;
  border-radius: 12px;
  background-color: #0056b3;
}

#spanRisk {
  font-weight: bold;
  font-size: 22px;
}

#thUnidade {
  width: 350px;
}

#thAvaliacao {
  border-right: 1px solid #000;
}

#tdAvaliacao {
  border-right: 1px solid #000;
  border-color: #000;
}

.divContainer {
  margin-top: 1.5rem;
  margin-bottom: -.5rem;
}

.divContainer label {
  margin-left: 10px;
}

.buttonNewRisk {
  display: flex;
}

.buttonNewRisk a {
  color: #fff;
  font-weight: bold;
  padding: 5px;
  transition: .2s;
  padding-right: 8px;
  text-decoration: none;
  border-radius: 7px;
  background-color: #0c72bb;
  margin-right: 10px;
}

.buttonNewRisk a:hover {
  background-color: rgb(18, 82, 128);
}

.buttonNewRisk a:focus {
  opacity: .8;
}

.divSearchAndEntries {
  line-height: 0px;
}

.btnInserirPrazo {
  margin: 0;
  color: #fff;
  border: none;
  padding: 8px;
  border-radius: 4px;
  transition: .2s;
  background-color: #28a745;
}

.btnInserirPrazo:hover {
  background-color: #095720;
}

.dataTables_filter {
  margin-bottom: 1.5rem;
}

.dataTables_wrapper .dataTables_length select {
  cursor: pointer;
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 5px;
  background-color: #f1f1f1 !important;
  padding: 4px;
}

thead tr th {
  background-color: #08558c !important;
  color: #fff !important;
}

.importantDetails {
  text-align: center;
}

/* FILTRO DE PESQUISA INÍCIO */
#searchDiv {
  display: flex;
}

#searchDiv label {
  font-size: 13px;
}

#searchDiv select {
  font-size: 13px;
  color: #464646;
  cursor: pointer;
  height: 26px;
  border: 1px solid #858585;
  border-radius: 5px;
  background-color: #ececec;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#tableHome tbody tr:hover td:not(.riscoAvaliacao) {
  background-color: #ececec !important;
}

#tableHome tbody tr:nth-child(even) td {
  background-color: #fff;
  cursor: pointer;
  border-right: 0;
}

#tableHome tbody tr:nth-child(odd) td {
  background-color: #f3f3f3;
  cursor: pointer;
  border-right: 0px;
}

/* HOVER CUSTOM INÍCIO */
#tableHome tbody tr {
  transition: transform 0.3s ease;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.p-30 {
  padding: 30px;
}

.main-datatable {
  padding: 0px;
  border: 1px solid #f3f2f2;
  border-bottom: 0;
  box-shadow: 0px 2px 10px rgba(0,0,0,.05);
}

.main-datatable .row {
  margin: 0;
}

.searchInput {
  width: 70%;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: flex-end;
  margin: 20px 0px;
  margin-right: 4rem;
}

.searchInput input {
  border: 1px solid #0c72bb;;
  border-radius: 5px;
  margin-left: 8px;
  height: 28px;
  width: 100%;
  padding: 0px 25px 0px 10px;
  transition: all .6s ease;
}

.searchInput label {
  color: #000;
  font-weight: normal;
}

.searchInput label {
  white-space: nowrap;
  margin-right: .8rem;
}

.main-datatable .dataTable.no-footer {
  border-bottom: 1px solid #eee;
}

.main-datatable .cust-datatable thead {
  background-color: #f9f9f9;
}

.main-datatable .cust-datatable>thead>tr>th {
  color: #443f3f;
  font-weight: 600;
  padding: 16px 15px;
  vertical-align: middle;
  padding-left: 18px;
  text-align: center;
}

.main-datatable .cust-datatable>tbody td {
  padding: 10px 15px 10px 18px;
  color: #000;
  font-size: 13px;
  font-weight: 500;
  word-break: break-word;
  border-top: 0;
  border-color: #b0b0b0;
  text-align: center;
  vertical-align: middle;
}

.main-datatable .cust-datatable>tbody tr {
  border-top: none;
}

.main-datatable .table > tbody > tr:nth-child(even) {
  background: #f9f9f9;
}

table.dataTable thead th, table.dataTable thead td {
  border-bottom: 1px solid #b0b0b0 !important;
}

.btn-group.open .dropdown-toggle {
  box-shadow: none;
}

.btn-group i {
  color: #8e8e8e;
  margin: 2px;
}

/* BOTÕES DE PAGINAÇÃO */
.dataTables_wrapper .dataTables_info {
  line-height: 39px;
  padding-bottom: 2rem;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  background: #d2d2d2 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  background-color: #d2d2d2 !important;
}

.dataTables_wrapper .dataTables_paginate {
  padding-top: 1rem !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  background-color: #ececec !important;
  border-radius:5px !important;
  padding: 0.1em .6em !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: #000 !important;
  background: #d2d2d2 !important;
  border: 1px solid transparent !important;
}
/* BOTÕES DE PAGINAÇÃO END */

/* FOOTER */

.mode {
  padding: 4px 10px;
  line-height: 13px;
  color: #fff;
  font-weight: 400;
  border-radius: .3rem;
  -webkit-border-radius: .3rem;
  -moz-border-radius: .3rem;
  -ms-border-radius: .3rem;
  -o-border-radius: .3rem;
  font-size: 11px;
  letter-spacing: 0.4px;
}

.riskLevel1 {
  color: #006b21;
  background-color: #86e49d;
}

.riskLevel2 {
  color: #24170c;
  background-color: #fde164;
}

.riskLevel3 {
  color: #24170c;
  background-color: #bb2440;
}

.replied{
  color: #70c8e6;
  background-color: #125e8a;
}

.rodape {
  /* z-index: -1; */
  cursor: default;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  background-color: #fff;
  padding-top: 3px;
  padding-bottom: 4px;
  margin-left: .9rem;
}

.riskLevelDiv {
  cursor: default;
  font-size: 12px;
}

.bg-baixo {
  color: #00000000 !important;
  background-color: #86e49d !important;
}

.bg-medio {
  color: #00000000 !important;
  background-color: #fde164 !important;
}

.bg-alto {
  color: #00000000 !important;
  background-color: #bb2440 !important;
}
/* END FOOTER */
