body {
  background-image: url('/img/bg-white.jpg');
  background-size: cover;
  background-attachment: fixed;
}

table, tr,th, td {
  border: 1px solid #b0b0b0;
}

.text13 {
  font-size: 13px;
}

label, input, .form-control, .form-select {
  font-size: 13px !important;
}

.choices__list--dropdown .choices__item, .choices__list[aria-expanded] .choices__item {
  font-size: 13px !important;
}

/* .appContent {
  margin-left: 10rem;
} */

/* #notificationButton {
  color: #fff;
  padding: 5px;
  border: none;
  font-size: 20px;
  border-radius: 5px;
  background-color: #2d2d6e;
}

#notificationBadge {
  font-size: 10px;
} */

.notification-item {
  background-color: #f7f9fc; /* Cor de fundo suave */
  border: 1px solid #e0e0e0; /* Borda leve */
  border-radius: 8px; /* Bordas arredondadas */
  margin-bottom: 0.5rem; /* Espaçamento entre os itens */
  transition: .2s; /* Transição suave */
}

.notification-item:hover {
  background-color: #f0f0f0;
  transform: translateY(-3px);
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
  /* box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); */
}

#readNotifications li {
  color: #888888;
  font-style: italic;
  background-color: #f0f0f0;
}

.select__pag {
  border: 1px solid #ccc !important;
}

/* ESTILIZAÇÃO DA TABELA INÍCIO */
.main-datatable .cust-datatable > thead > tr > th {
  padding: 9px 8px !important;
  border-right: 0px;
}

.justify {
  text-align: justify !important;
}

.divPrazoGeral {
  padding: 12px;
  display: flex;
  justify-content: space-between;
}

.prazoGeral {
  color: #fff;
  line-height: 35px;
  margin-left: 10px;
  display: inline-flex;
  justify-content: center;
  border-color : #b0b0b0;
  border-radius:  4px;
  background-color: #0056b3;
  padding: 3px;
}

.coloredButtons {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  box-shadow: 0px 2px 10px rgba(0,0,0,.05);
}

#tableHome {
  margin-top: 13px;
}

.blue-btn,
.green-btn,
.purple-btn,
.spanThatLooksLikeABtn {
  border: none;
  text-decoration: none;
  border-radius: 4px;
  padding: 7px 6px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.spanThatLooksLikeABtn {
  color: #000;
  cursor: default;
  background-color: #ececec;
}

.green-btn-store {
  margin-right: 0;
}

.green-btn-date {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.green-btn-date:hover {
  background-color: #218838;
}

.blue-btn {
  background-color: #0056b3;
  color: #fff;
}

.purple-btn {
  color: #fff;
  background-color: #4f3ec8;
}

.purple-btn:hover {
  background-color: #5c4ae7;
}

.blue-btn:hover {
  background-color: #0062ca;
}

.green-btn {
  background-color: #28a745;
  color: white;
}

.green-btn:hover {
  background-color: #218838;
}

.warningRisks {
  color: #fff;
  padding: 8px;
  padding-top: 4px;
  padding-bottom: 7px;
  padding-left: 10px;
  font-size: 17px;
  font-weight: bold;
  margin-left: 180px;
  border-radius: 12px;
  background-color: #0056b3;
}

#spanRisk {
  font-weight: bold;
  font-size: 22px;
}

#thUnidade {
  width: 350px;
}

#thAvaliacao {
  border-right: 1px solid #000;
}

#tdAvaliacao {
  border-right: 1px solid #000;
  border-color: #000;
}

.divContainer {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* .divContainer label {
  margin-left: 10px;
} */

#newRiskButtonDiv {
  white-space: nowrap;
}

.buttonNewRisk {
  display: flex;
}

.buttonNewRisk a {
  color: #fff;
  font-weight: bold;
  padding: 5px;
  transition: .2s;
  padding-right: 8px;
  text-decoration: none;
  border-radius: 7px;
  background-color: #0c72bb;
  margin-right: 10px;
}

.buttonNewRisk a:hover {
  background-color: rgb(18, 82, 128);
}

.buttonNewRisk a:focus {
  opacity: .8;
}

.divSearchAndEntries {
  line-height: 0px;
}

.btnInserirPrazo {
  margin: 0;
  color: #fff;
  border: none;
  padding: 8px;
  border-radius: 4px;
  transition: .2s;
  background-color: #28a745;
}

.btnInserirPrazo:hover {
  background-color: #095720;
}

.dataTables_filter {
  margin-bottom: 1.5rem;
}

.dataTables_wrapper .dataTables_length select {
  cursor: pointer;
  border: 1px solid #dee2e6 !important;
  border-radius: 3px;
  padding: 5px;
  background-color: #f1f1f1 !important;
  padding: 4px;
}

thead tr th {
  background-color: #08558c !important;
  color: #fff !important;
}

.importantDetails {
  /* text-align: center; */
}

.table-wrapper-75{
	width: 100%;
	margin: 0 auto;
}

table.dataTable {
  border-collapse: collapse !important;
}

/* FILTRO DE PESQUISA INÍCIO */
#searchDiv {
  display: flex;
}

#searchDiv label {
  font-size: 13px;
}

#searchDiv select {
  font-size: 13px;
  color: #464646;
  cursor: pointer;
  height: 26px;
  border: 1px solid #858585;
  border-radius: 5px;
  background-color: #ececec;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
}

#tableHome tbody tr:hover td:not(.riscoAvaliacao) {
  background-color: #ececec;
}

#tableHome tbody tr:nth-child(even) td {
  background-color: #fff;
  cursor: pointer;
  border-right: 0;
}

#tableHome tbody tr:nth-child(odd) td {
  background-color: #f3f3f3;
  cursor: pointer;
  border-right: 0px;
}

/* HOVER CUSTOM INÍCIO */
#tableHome tbody tr {
  transition: transform 0.3s ease;
}

#tableHome2 tbody tr {
  transition: transform 0.3s ease;
}


#tableHome2 tbody tr:nth-child(even) td {
  background-color: #fff;
  border-right: 0;
}

#tableHome2 tbody tr:nth-child(odd) td {
  background-color: #f3f3f3;
  border-right: 0px;
}

#tableHome2 tbody tr:hover td:not(.riscoAvaliacao) {
  background-color: #ececec;
}

#tableHome2_length {
  width: 20%;
  display: flex;
  white-space: nowrap;
}

/* HOVER CUSTOM INÍCIO */
#tableHome2 tbody tr {
  transition: transform 0.3s ease;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.p-30 {
  padding: 30px;
}

.border__custom {
  border: 1px solid #c6c8ca !important;
}

.px__custom {
  padding: 0 30px;
}

.width__custom {
  width: 100px;
}

.nowrap__custom {
  white-space: nowrap;
}

.main-datatable {
  padding: 0px;
  border: 1px solid #f3f2f2;
  border-bottom: 0;
  box-shadow: 0px 2px 10px rgba(0,0,0,.05);
  background-color: #fff;
}

.main-datatable .row {
  margin: 0;
}

.main-datatable .cust-datatable > tbody td{
	word-break: inherit !important;
}

.searchInput {
  width: 70%;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: flex-end;
  margin: 20px 0px;
  margin-right: 4rem;
}

.searchInput input {
  border: 1px solid #0c72bb;;
  border-radius: 5px;
  margin-left: 8px;
  height: 28px;
  width: 100%;
  padding: 0px 25px 0px 10px;
  transition: all .6s ease;
}

.searchInput label {
  color: #000;
  font-weight: normal;
}

.searchInput label {
  white-space: nowrap;
  margin-right: .8rem;
}

.main-datatable .dataTable.no-footer {
  border-bottom: 1px solid #eee;
}

.main-datatable .cust-datatable thead {
  background-color: #f9f9f9;
}

.main-datatable .cust-datatable>thead>tr>th {
  color: #443f3f;
  font-weight: 600;
  padding: 16px 15px;
  vertical-align: middle;
  padding-left: 18px;
  /* text-align: center; */
}

.main-datatable .cust-datatable>tbody td {
  padding: 10px 15px 10px 18px;
  color: #000;
  font-size: 13px;
  font-weight: 500;
  word-break: break-word;
  border-top: 0;
  border-color: #b0b0b0;
  /* text-align: center; */
  vertical-align: middle;
  transition: .2s;
}

.main-datatable .cust-datatable>tbody tr {
  border-top: none;
}

.main-datatable .table > tbody > tr:nth-child(even) {
  background: #f9f9f9;
}

table.dataTable thead th, table.dataTable thead td {
  border-bottom: 1px solid #b0b0b0 !important;
}

.btn-group.open .dropdown-toggle {
  box-shadow: none;
}

.btn-group i {
  color: #8e8e8e;
  margin: 2px;
}

/* FILTROS */

.divContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 1rem; */
}

.divFilterUnidade {
  background-color: #f1f1f1;
  cursor: pointer;
}

.FilterAvaliacao {
  background-color: #f1f1f1;
  cursor: pointer;
}

.labelUnidade {
  line-height: 31px;
}

.labelAvaliação {
  line-height: 31px;
  margin-right: 2px;
}

.dataTables_filter {
  margin-bottom: 0;
  }

  #tableHome_length {
  /* width: 30%; */
  display: flex;
  white-space: nowrap;
  }

  .dataTables_wrapper .dataTables_length select {
    padding-right: 2rem !important;
  }

  .form-control {
    /* background-color: #f0f0f0; */
    border-radius: 0 !important;
  }

  .form-select {
    border-radius: 0 !important;
  }

/* FIM FILTROS */

/* BOTÕES DE PAGINAÇÃO */
.dataTables_wrapper .dataTables_info {
  line-height: 39px;
  padding-bottom: 2rem;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  background: #d2d2d2 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  background-color: #d2d2d2 !important;
}

.dataTables_wrapper .dataTables_paginate {
  padding-top: 1rem !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  background-color: #ececec !important;
  border-radius:5px !important;
  padding: 0.1em .6em !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: #000 !important;
  background: #d2d2d2 !important;
  border: 1px solid transparent !important;
}
/* BOTÕES DE PAGINAÇÃO END */

/* FOOTER */

.mode {
  padding: 4px 10px;
  line-height: 13px;
  color: #fff;
  font-weight: 400;
  /* border-radius: .1rem; */

  font-size: 11px;
  letter-spacing: 0.4px;
}

.fontBold {
  font-weight: bold;
  color: #000;
}

.riskLevel1 {
  color: #006b21;
  background-color: #33b299;
}

.riskLevel2 {
  color: #24170c;
  background-color: #ffff99;
}

.riskLevel3 {
  color: #24170c;
  background-color: #eb613d;
}

.replied{
  color: #70c8e6;
  background-color: #125e8a;
}

.rodape {
  /* z-index: -1; */
  cursor: default;
  position: fixed;
  bottom: 0;
  width: 90%;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  background-color: #fcfdfe;
  padding-top: 10px;
  padding-bottom: 10px;
  /* margin-left: .9rem; */
  margin-left: 6rem;
}

.riskLevelDiv {
  cursor: default;
  font-size: 12px;
}

.bg-baixo {
  /* color: #006b21 !important; */
  background-color: #33b299 !important;
}

.bg-medio {
  /* color: #7e522f !important; */
  background-color: #ffff99 !important;
}

.bg-alto {
  /* color: #000000 !important; */
  background-color: #eb613d !important;
}
/* END FOOTER */

.btnAdd {
  background-color: #1a52b9;
  border-radius: 5px;
  color: #fff;
  border: none;
  outline: none;
  padding: 0.4rem 0.6rem;
  transition: .3s;
}

.btnAdd:hover {
  background-color: #2464da;
}

.btnAdd:active {
  opacity: 0.8;
}

.btnFilter {
  background-color: #4f5d6e;
  border-radius: 5px;
  color: #fff;
  border: none;
  outline: none;
  padding: 0.4rem 0.6rem;
  transition: .3s;
}

.btnFilter:hover {
  background-color: #3e4956;
}

.btnFilter:active {
  opacity: 0.8;
}

a.warning,
a.primary,
a.secondary,
button.secondary {
  border: none;
  text-decoration: none;
  border-radius: 4px;
  padding: 7px 14px;
  cursor: pointer;
  font-size: 14px;
  margin-right: 10px;
  transition: background-color 0.3s;
}

a.warning {
  color: #24170c;
  background-color: #ffc107;
}

a.warning:hover {
  background-color: #ffca2c;
}

a.primary {
  color: #fff;
  background-color: #0d6efd;
}

a.primary:hover {
  background-color: #0b5ed7;
}

button.secondary {
  color: #fff;
  background-color: #6c757d;
}

button.secondary:hover {
  background-color: #5c636a;
}

#unreadNotifications.expanded, #readNotifications.expanded {
    max-height: none;
    overflow: visible;
}

#unreadNotifications, #readNotifications {
    max-height: 300px;
    overflow-y: auto;
    transition: max-height 0.3s ease-out;
}

#tableHome2_wrapper {
  margin-top: 1.5rem;
}

/* MODAL */

.footer-btn {
  border: none;
  padding: 5px 10px;
  font-size: 13px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.footer-secondary {
  background-color: #6c757d;
  color: white;
  border: none;
}
.footer-secondary:hover {
  background-color: #5c636a;
}

.footer-warning {
  background-color: #ffc107;
  color: #24170c;
  border: none;
}

.footer-warning:hover {
  background-color: #ffca2c;
}

.footer-danger {
  background-color: #dc3545;
  color: white;
  border: none;
}

.footer-danger:hover {
  background-color: #c82333;
}

.footer-success {
  background-color: #28a745;
  color: white;
  border: none;
}

.footer-success:hover {
  background-color: #218838;
}