table, tr,th, td {
  border: 1px solid black;
}

/* ESTILIZAÇÃO DA TABELA INÍCIO */
.main-datatable .cust-datatable > thead > tr > th {
  padding: 9px 8px !important;
  border-right: 0px;
}

#thUnidade {
  width: 350px;
}

#thAvaliacao {
  border-right: 1px solid #000;
}

#tdAvaliacao {
  border-right: 1px solid #000;
  border-color: #000;
}

.divContainer {
  margin-top: 1rem;
}

.divContainer label {
  margin-left: 10px;
}

.buttonNewRisk {
  display: flex;
}

.buttonNewRisk a {
  color: #fff;
  font-weight: bold;
  padding: 5px;
  transition: .2s;
  padding-right: 8px;
  text-decoration: none;
  border-radius: 3px;
  background-color: #0c72bb;
}

.buttonNewRisk a:hover {
  background-color: rgb(18, 82, 128);
}

.buttonNewRisk a:focus {
  opacity: .8;
}

.divSearchAndEntries {
  line-height: 0px;
}

.dataTables_filter {
  margin-bottom: 1.5rem;
}

.dataTables_wrapper .dataTables_length select {
  cursor: pointer;
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 5px;
  background-color: #f1f1f1 !important;
  padding: 4px;
}
  
thead tr th {
  background-color: #549f93 !important;
  color: #fff !important;
}

.importantDetails {
  text-align: center;
}

/* FILTRO DE PESQUISA INÍCIO */
#searchDiv {
  display: flex;
}

#searchDiv label {
  font-size: 13px;
}

#searchDiv select {
  font-size: 13px;
  color: #464646;
  cursor: pointer;
  height: 26px;
  border: 1px solid #858585;
  border-radius: 5px;
  background-color: #ececec;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#tableHome tbody tr:hover td {
  background-color: #ececec !important;
}

#tableHome tbody tr:nth-child(even) td {
  background-color: #fff;
  cursor: pointer;
  border-right: 0;
}

#tableHome tbody tr:nth-child(odd) td {
  background-color: #f3f3f3;
  cursor: pointer;
  border-right: 0px;
}

/* HOVER CUSTOM INÍCIO */
#tableHome tbody tr {
  transition: transform 0.3s ease;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.p-30 {
  padding: 30px;
}

.main-datatable {
  padding: 0px; 
  border: 1px solid #f3f2f2;
  border-bottom: 0;
  box-shadow: 0px 2px 10px rgba(0,0,0,.05);
}

.main-datatable .row {
  margin: 0;
} 

.searchInput {
  width: 70%;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: flex-end;
  margin: 20px 0px;
  margin-right: 4rem;
}

.searchInput input {
  border: 1px solid #0c72bb;;
  border-radius: 5px;
  margin-left: 8px;
  height: 28px;
  width: 100%;
  padding: 0px 25px 0px 10px;
  transition: all .6s ease;
}

.searchInput label {
  color: #000;
  font-weight: normal;
}

.searchInput label {
  white-space: nowrap;
  margin-right: .8rem;
}

.main-datatable .dataTable.no-footer {
  border-bottom: 1px solid #eee;
}

.main-datatable .cust-datatable thead {
  background-color: #f9f9f9;
}

.main-datatable .cust-datatable>thead>tr>th {
  color: #443f3f;
  font-weight: 600;
  padding: 16px 15px;
  vertical-align: middle;
  padding-left: 18px;
  text-align: center;
}

.main-datatable .cust-datatable>tbody td {
  padding: 10px 15px 10px 18px;
  color: #333232;
  font-size: 13px;
  font-weight: 500;
  word-break: break-word;
  border-top: 0;
  border-color: #000;
  text-align: center;
  vertical-align: middle;
}

.main-datatable .cust-datatable>tbody tr {
  border-top: none;
}

.main-datatable .table > tbody > tr:nth-child(even) {
  background: #f9f9f9;
}

.btn-group.open .dropdown-toggle {
  box-shadow: none;
}

.btn-group i {
  color: #8e8e8e; 
  margin: 2px;
}

/* BOTÕES DE PAGINAÇÃO */
.dataTables_wrapper .dataTables_info {
  line-height: 39px;
  padding-bottom: 2rem;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  background: #d2d2d2 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  background-color: #d2d2d2 !important;
}

.dataTables_wrapper .dataTables_paginate {
  padding-top: 1rem !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  background-color: #ececec !important;
  border-radius:5px !important;
  padding: 0.1em .6em !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: #000 !important;
  background: #d2d2d2 !important;
  border: 1px solid transparent !important;
}
/* BOTÕES DE PAGINAÇÃO END */

/* FOOTER */

.rodape {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  justify-content: center;
  background-color: #f1f1f1;
}

.riskLevelDiv {
  font-size: 15px;
}

.riskLevel1 {
 color: green;
 font-weight: bold;
 margin-left: .5rem;
 margin-right: 1rem;
}

.riskLevel2 {
  color: #ff851b;
  font-weight: bold;
  margin-right: 1rem;
}

.riskLevel3 {
  color: red;
  font-weight: bold;
}

/* END FOOTER */