.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Poppins", sans-serif !important;
  background-color: #fff !important;
}

.borderRadius {
  background-image: url('/img/login/TelaSistemaIntegra.png');
  background-size: cover;
  /* background-position: center; */
}

/* REMOVE AS CONFIGURAÇÕES DO GLOBAL.CSS */
.login-page .appContent {
    margin-left: 0 !important;
  }

.appContent {
    margin-left: 0 !important;
  }

.conteudo {
    margin-top: 0 !important;
    padding-left: 0 !important;
  }

.links {
  gap: 3rem;
  z-index: 1;
  display: flex;
  /* margin-top: 32rem; */
  /* margin-left: 16rem; */
  position: absolute;
}

.links i {
  /* font-size: 24px; */
  color: #fff;
  margin-right: 4px;
}

.links a {
  color: #fff;
  /* font-size: 20px; */
  text-decoration: none;
}

.linksChild {
  padding: 7px;
  border-radius: 15px;
  transition: .2s;
  border: 1px solid #fff;
  background-color: #183479;
}

.linksChild:hover {
  border: 1px solid #ccc;
  background-color: #13285e;
  transform: translateY(-7px);
}

.logo {
  padding-bottom: 1rem;
}
/* FIM */

.grid {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  height: 100vh;
}

.order__left {
  order: 2;
  padding:  40px;
  background-color: #fff;
}

/* .borderRadius {
  border-radius: 0 50px 50px 0;
} */

.order__right {
  order: 1;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.no__overflow {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.logo {
  text-align: center;
}

.logo img {
  height: 100%;
}

.img {
  height: 60%;
}

.form {
  width: 380px;
  /* max-width: 500px; */
}

.remember_me {
  margin-top: 0;
}

.inputImp {
  width: 100%;
  border: none;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  /* margin-bottom: 1rem; */
  box-shadow: 8px 6px 10px 0 rgba(0, 0, 0, 0.1);
}

.inputImp::placeholder {
  color: #999;
}

.input-icon {
  position: relative;
}

.input-icon i {
  position: absolute;
  top: 0;
  left: 0;
  padding: 12px;
  color: #ccc;
}

.input-icon input {
  padding-left: 35px;
}

.inputSenha {
  margin-bottom: 8px;
}

::-webkit-input-placeholder {
  color: #000000;
}

:-ms-input-placeholder {
  color: #000000;
}

::placeholder {
  color: #000000;
}

.rememberMe {
  cursor: pointer;
  color: #444444;
  font-weight: 500;
}

.loginButton {
  display: flex;
  text-align: center;
  width: 100%;
}

.loginButton input {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.inputLogin {
  color: #fff;
  font-size: 17px;
  background-color: #428ccf;
  width: 45%;
  border: none;
  border-radius: 8px;
  margin-top: 1.5rem;
  transition: .2s;
  box-shadow: 8px 6px 10px 0 rgba(0, 0, 0, 0.1);
}

.inputLogin:hover {
  background-color: #3974ab;
}

.inputLogin:focus {
  opacity: 0.8;
}

.loginFooter {
  background-color: #f0f0f0;
  border-radius: 8px;
  margin-bottom: 2rem;
  border: 1px solid #ccc;
  box-shadow: 8px 6px 10px 0 rgba(0, 0, 0, 0.1);
}

.loginButtonsDiv {
  margin-top: 2rem;
  /* display: flex; */
  /* justify-content: space-between; */
  background-color: #f0f0f0;
  padding: 9px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 8px 6px 10px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
}

.loginButtons {
  color: #fff;
  padding: 6px;
  border-radius: 8px;
  transition: .2s;
  /* border: 1px solid #ccc; */
  background-color: #3c75a9;
  margin-bottom: 8px;
}

.loginButtons a {
  color: #fff;
  text-decoration: none;
}

.loginButtons:hover {
  /* background-color: #04295a; */
  transform: translateY(-7px);
}

.helpButtons {
  display: flex;
  padding: 3px;
  padding-left: 14px;
  flex-direction: column;
}

.helpButtons a {
  color: #000;
  text-decoration: underline;
  transition: .2s;
}

.helpButtons a:hover {
  opacity: .8;
}

.footerLogo {
  color: #717171;
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin-top: 7rem;
}

.justify__space_between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 30px;
}

input[type=checkbox], label {
  margin-right: 4px;
  cursor: pointer;
  outline-color: #464646;
}

.remember_me, .signup {
  color: #202020;
}

.forgot__password {
  color: #202020;
  text-align: left;
  outline-color: #464646;
}

.forgot__password:active {
  color: #867992;
}

.login__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  outline-color: #3c62ad;
  width: 35%;
  border: none;
  background-color: #1d3055;
  padding: 10px 13px;
  color: #fff;
  border-radius: 2rem;
  font-size: 16px;
  cursor: pointer;
  transition: box-shadow 0.25s ease-in-out, background-color 0.3s;
}


.login__button:hover {
  box-shadow: 0 0 0 0.15rem #3f6bc4;
}

.login__button:active {
  background-color: #29447a;
  box-shadow: 0 0 0 0.25rem #3c62ad;
}

.form-control {
  /* background-color: #f0f0f0; */
  border-radius: 0 !important;
}

.form-select {
  border-radius: 0 !important;
}

@media only screen and (max-width: 1760px) {
  .form {
    padding-top: 1rem;
  }

  .order__left {
    padding: 15px;
  }

  .form {
    transition: .2s;
    width: 345px;
  }

  .inputImp {
    padding: 8px;
  }

  .inputImp i {
    padding: 6px;
  }

  .input-icon input {
    padding-left: 30px;
  }

  .input-icon i {
    padding: 10px;
  }

  .rememberMe {
    font-size: 12px;
  }

  .inputLogin {
    font-size: 12px ;
    width: 39%;
  }

  .helpButtons {
    font-size: 14px;
  }

  .helpButtons a {
    font-size: 12px;
  }

  input, button, select, optgroup, textarea {
    font-size: 12px;
  }

  .logo {
    height: 80px;
  }

  .logo img {
    height: 85%;
  }

  .loginButtonsDiv {
    display: block;
  }

  .loginButtons {
    margin-bottom: .5rem;
    font-size: 12px;
    padding: 3px;
    text-align: center;
  }

  .footerLogo {
    font-size: 10px;
    margin-top: 2rem;
  }
}

@media only screen and (max-width:  1600px) {
  .form {
    padding-top: 2rem;
  }

  .order__left {
    padding: 15px;
  }

  .form {
    transition: .2s;
    width: 330px;
  }

  .inputImp {
    padding: 7px;
    font-size: 12px;
  }

  .inputImp i {
    padding: 6px;
  }

  .input-icon input {
    padding-left: 28px;
  }

  .input-icon i {
    padding: 9px;
  }

  .rememberMe {
    font-size: 11px;
  }

  .inputLogin {
    font-size: 12px ;
    width: 37%;
  }

  .helpButtons a {
    font-size: 11px;
  }

  input, button, select, optgroup, textarea {
    font-size: 12px;
  }

  .logo {
    height: 74px;
  }

  .logo img {
    height: 80%;
  }

  .loginButtonsDiv {
    display: block;
  }

  .loginButtons {
    margin-bottom: .5rem;
    font-size: 12px;
    padding: 3px;
    text-align: center;
  }

  .footerLogo {
    font-size: 10px;
    margin-top: 2rem;
  }
}

@media only screen and (max-width:  1472px) {
  .form {
    padding-top: 3rem;
  }

  .order__left {
    padding: 15px;
  }

  .form {
    transition: .2s;
    width: 300px;
  }

  .inputImp {
    padding: 6px;
  }

  .inputImp i {
    padding: 6px;
  }

  .input-icon input {
    padding-left: 25px;
  }

  .input-icon i {
    padding: 8px;
  }

  .rememberMe {
    font-size: 11px;
  }

  .inputLogin {
    font-size: 12px ;
    width: 37%;
  }

  .helpButtons a {
    font-size: 11px;
  }

  input, button, select, optgroup, textarea {
    font-size: 12px;
  }

  .logo {
    height: 74px;
  }

  .logo img {
    height: 75%;
  }

  .loginButtonsDiv {
    display: block;
  }

  .loginButtons {
    margin-bottom: .5rem;
    font-size: 12px;
    padding: 3px;
    text-align: center;
  }

  .footerLogo {
    font-size: 10px;
    margin-top: 2rem;
  }
}

@media only screen and (max-width:  1376px) {
  .form {
    padding-top: 3rem;
  }

  .order__left {
    padding: 15px;
  }

  .form {
    transition: .2s;
    width: 300px;
  }

  .inputImp {
    padding: 6px;
  }

  .inputImp i {
    padding: 6px;
  }

  .input-icon input {
    padding-left: 25px;
  }

  .input-icon i {
    padding: 8px;
  }

  .rememberMe {
    font-size: 11px;
  }

  .inputLogin {
    font-size: 12px ;
    width: 37%;
  }

  .helpButtons a {
    font-size: 11px;
  }

  input, button, select, optgroup, textarea {
    font-size: 12px;
  }

  .logo {
    height: 74px;
  }

  .logo img {
    height: 70%;
  }

  .loginButtonsDiv {
    display: block;
  }

  .loginButtons {
    margin-bottom: .5rem;
    font-size: 12px;
    padding: 3px;
    text-align: center;
  }

  .footerLogo {
    font-size: 10px;
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 1280px) {
  .form {
    padding-top: 1rem;
  }

  .order__left {
    padding: 15px;
  }

  .form {
    transition: .2s;
    width: 300px;
  }

  .inputImp {
    padding: 4px;
  }

  .inputImp i {
    padding: 6px;
  }

  .input-icon input {
    padding-left: 25px;
  }

  .input-icon i {
    padding: 6px;
  }

  .rememberMe {
    font-size: 11px;
  }

  .inputLogin {
    font-size: 12px ;
    width: 37%;
  }

  .helpButtons a {
    font-size: 11px;
  }

  input, button, select, optgroup, textarea {
    font-size: 12px;
  }

  .logo {
    height: 74px;
  }

  .loginButtonsDiv {
    display: block;
  }

  .loginButtons {
    margin-bottom: .5rem;
    font-size: 12px;
    padding: 3px;
    text-align: center;
  }

  .footerLogo {
    font-size: 10px;
    margin-top: 2rem;
  }
}

@media only screen and (max-width:  1216px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url('/img/login/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: .2s;
  }

  .order__left {
    order: 2;
    background-color: transparent;
  }

  .rememberMe {
    font-size: 10px;
  }

  .inputImp {
    font-size: 10px;
    padding: 6px;
  }

  .input-icon i {
    font-size: 12px;
    padding: 7px;
  }

  .no__overflow {
    display: none;
  }

  .form {
    width: 360px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    margin: 0 auto;
    background-color: #f8fafc;
    transition: .2s;
    padding: 1rem;
    border-radius: 10px;
  }

  .loginButton input {
    margin-top: .5rem;
    margin-bottom: 0;
  }

  .loginButtons {
    font-size: 11px;
  }

  .helpButtons a {
    font-size: 10px;
  }

  .grid {
    grid-template-columns: auto;
  }

  .logo img {
    margin-top: 2rem;
  }
  
  .order__right {
    order: 2;
  }

  .no__overflow {
    align-items: flex-start;
    background-color: #fff;
  }

  .img {
    display: none;
  }

  .loginFooter {
    margin-bottom: 1rem;
  }

  .loginButtonsDiv {
    margin-top: 1rem;
  }

  .footerLogo {
    margin-top: 1rem;
  }
}