.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.appContent {
  margin-left: 10rem;
}

table, tr,th, td {
  border: 1px solid #b0b0b0;
}

body {
font-family: "Poppins", sans-serif;
font-weight: 400;
font-style: normal;
}

.box-shadow {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
  border-radius: .25rem;
  background-color: #fff;
  padding: 20px;
  /* margin-bottom: 30px; */
}

.cke_top {
  background-color: #f0f0f0;
}

.text13 {
  font-size: 13px;
}

.table th,
.table td {
  vertical-align: middle;
}

.table th {
  background-color: #549f93;
}

.table td {
  background-color: #f7f7f7;
}

.table .tBorder {
  border-right: 1px solid #b0b0b0;
}

.text-center {
  text-align: center;
}

.text-light {
  color: #f8f9fa !important;
}

.bg-dark {
  background-color: #343a40 !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.resposta {
  margin-bottom: 10px;
}

.p-30 {
  padding: 30px;
}

.main-datatable {
  border: 1px solid #000;
  box-shadow: 0px 2px 10px rgba(0,0,0,.05);
}

a.edit-btn,
a.reply-btn {
  border: none;
  text-decoration: none;
  border-radius: 4px;
  padding: 7px 14px;
  cursor: pointer;
  font-size: 14px;
  margin-right: 10px;
  transition: background-color 0.3s;
}

button.success {
  border: none;
  text-decoration: none;
  border-radius: 4px;
  padding: 7px 14px;
  cursor: pointer;
  font-size: 14px;
  margin-right: 10px;
  transition: background-color 0.3s;
}

button.success {
  background-color: #28a745;
  color: white;
}

button.success:hover {
  background-color: #218838;
}

button.reply-btn {
  border: none;
  text-decoration: none;
  border-radius: 4px;
  padding: 7px 14px;
  cursor: pointer;
  font-size: 14px;
  margin-right: 10px;
  transition: background-color 0.3s;
}

button.reply-btn {
  background-color: #0056b3;
  color: white;
}

button.reply-btn:hover {
  background-color: #0062ca;
}

a.edit-btn {
  background-color: #0056b3;
  color: #fff;
}

a.edit-btn:hover {
  background-color: #0062ca;
}

a.reply-btn {
  background-color: #28a745;
  color: white;
}

a.reply-btn:hover {
  background-color: #218838;
}

/* PÁGINA DE RESPOSTAS */

.container {
  max-width: 900px;
}

.thNumber,
.thReply {
  color: #fff !important;
  background-color: #08558c !important;
}

.tdNumber,
.tdReply {
  background-color: #f2f2f2 !important;
}

.line {
  display: flex;
  width: 10%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3rem;
}

.chat-box {
  display: flex;
  flex-direction: column;
  /* max-width: 900px; */
  margin: auto;
}

.message {
  padding: 15px;
  padding-top: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  max-width: 100%;
  border: 1px solid #ccc;
  width: 600px;
  /* height: 200px; */
  /* word-wrap: break-word; */
}

.my-message {
  background-color: #33a874;
  align-self: flex-end;
  text-align: right;
}

.other-message {
  background-color: #e2f2e3; /* Cor de fundo verde bebe */
  text-align: left;
  border-radius: 0px 10px 10px 10px;
}

.another-message {
  background-color: #ececec;
  text-align: right;
  border-radius: 10px 0 10px 10px;
}

.align-right {
  align-self: flex-end;
}

.align-left {
  align-self: flex-start;
}

.hr2 {
  /* color: #fff; */
  margin: 0;  
  padding: 0;
  margin-top: .5rem;
  margin-bottom: 1rem;
  color: #313131;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.hr1 {
  margin-left: auto;
  margin-right: auto;
  max-width: 100px;
  padding-bottom: 2rem;
}

.bi-person {
  font-size: 13px;
}

.dataSector {
  margin: 0;
  padding: 5px;
  font-size: 11px;
  color: #313131;
  border-radius: 6px;
  border: 1px solid #cedccf;
  background-color: #cedccf;
}

.dataSpan {
  color: #3d7fb7;
}

.fStyle {
  font-size: 13px;
  word-wrap: break-word;
}