.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.appContent {
  margin-left: 10rem;
}

table, tr,th, td {
  border: 1px solid #b0b0b0;
}

body {
font-family: "Poppins", sans-serif;
font-weight: 400;
font-style: normal;
}

.box-shadow {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
  border-radius: .25rem;
  background-color: #fff;
  padding: 20px;
  margin-bottom: 30px;
}

.background-verde {
  background-color: green;
}

.background-amarelo {
  background-color: yellow;
}

.background-vermelho {
  background-color: red;
}


.table th {
  background-color: #08558c;
}

.table td {
  background-color: #f2f2f2;
}

.table .tBorder {
  border-right: 1px solid #b0b0b0;
}

.text-center {
  text-align: center;
}

.text-light {
  color: #f8f9fa !important;
}

.bg-dark {
  background-color: #343a40 !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.resposta {
  margin-bottom: 10px;
}

.p-30 {
  padding: 30px;
}

.main-datatable {
  border: 1px solid #000;
  box-shadow: 0px 2px 10px rgba(0,0,0,.05);
}

a.edit-btn,
a.reply-btn,
a.btn-add {
  border: none;
  text-decoration: none;
  border-radius: 4px;
  padding: 7px 14px;
  cursor: pointer;
  font-size: 14px;
  margin-right: 10px;
  transition: background-color 0.3s;
}

a.edit-btn {
  background-color: #0056b3;
  color: #fff;
}

a.edit-btn:hover {
  background-color: #0062ca;
}

a.reply-btn {
  background-color: #28a745;
  color: white;
}

a.reply-btn:hover {
  background-color: #218838;
}

a.btn-add {
  background-color: #007bff;
  color: #fff;
}

a.btn-add:hover {
  background-color: #0056b3;
}

.text13 {
  font-size: 13px;
}

.fontBold {
  color: #000;
  font-weight: bold;
}

/* PÁGINA DE RESPOSTAS */

.thNumber,
.thReply {
  background-color: #f3f3f3 !important;
}

.tdNumber,
.tdReply {
  background-color: #fff !important;
}

.line {
  display: flex;
  width: 10%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3rem;
}

.riscoAvaliacao {
  vertical-align: middle;
}

.bg-baixo {
  text-align: center;
  /* color: #006b21 !important; */
  background-color: #86e49d !important;
}

.bg-medio {
  text-align: center;
  /* color: #7e522f !important; */
  background-color: #fde164 !important;
}

.bg-alto {
  text-align: center;
  /* color: #000000 !important; */
  background-color: #eb613d !important;
}

.mode {
  padding: 4px 10px;
  line-height: 13px;
  color: #fff;
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 0.4px;
}

.riskLevel1 {
  color: #006b21;
  background-color: #86e49d;
}

.riskLevel2 {
  color: #24170c;
  background-color: #fde164;
}

.riskLevel3 {
  color: #24170c;
  background-color: #bb2440;
}

.replied {
  color: #70c8e6;
  background-color: #125e8a;
}

.rodape {
  cursor: default;
  position: fixed;
  bottom: 0;
  width: 90%;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  background-color: #fcfdfe;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: .9rem;
}

.riskLevelDiv {
  cursor: default;
  font-size: 12px;
}